.wrapper{
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	gap: 0 30px;
	grid-template-areas: 
	". header header ."
	". sidebar body ."
	"footer footer footer footer";
	margin-top: 40px;
}

.header{
	grid-area: header;
}

.sidebar{
}

.body{
	grid-area: body;
	margin-bottom: 40px;
}

.footer{
	grid-area: footer;
}

@media (max-width: 765px) {
	.wrapper{
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas: 
		"header"
		"body"
		"footer";
		gap: 10px;
	}
}