.button {
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	border-radius: 10px;
	/* border: 1px solid var(--white); */
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
	outline: none;
}

.primary {
	background-color: var(--primary);
}

.primary svg * {
	fill: var(--white);
}

.primary:hover {
	/* background-color: var(--primary-hover); */
}

.white {
	color: var(--black);
}

.white svg * {
	fill: var(--primary);
}

.white:hover {
	background-color: var(--primary);
}

.white:hover svg * {
	fill: var(--white);
}
