.star {
	margin-right: 5px;
	fill: var(--gray);
}

.starEditable {
	cursor: pointer;
}

.filled {
	fill: var(--primary);
}

.error {
	border: 1px solid var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 1px;

	color: var(--red);
}

.ratingWrapper {
	position: relative;
}
