.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.rotate {
	transform: scale(-1, 1) !important;
}

.active .sortIcon {
	display: block;
	transform: rotate(180deg);

	margin-right: 8px;
}

.sort {
	display: flex;
	justify-content: space-between;

	width: 240px;

	cursor: pointer;
}

.sort span {
	display: flex;
	align-items: center;
}

.span {
	margin-right: 8px;
}
